[submodule "roles_infra"]
	path = roles/infra
	url = https://github.com/jmarcelocruz/ansible-roles-infra.git
[submodule "roles_services"]
	path = roles/services
	url = https://github.com/jmarcelocruz/ansible-roles-services.git
