- name: Configure cuphead
  hosts: cuphead
  become: true
  roles:
    - infra/cockpit
    - infra/dnsmasq
    - infra/interfaces
    - infra/libvirt_host
    - infra/nftables
    - infra/podman_host
    - infra/routing
  vars:
    infra_cockpit_extra_addons:
      - cockpit-machines
    infra_dnsmasq_default_configuration:
      - |
        interface = br0
        dhcp-range = br0,10.10.1.0,10.10.255.254,24h
    infra_interfaces_extra_interfaces:
      - |
        auto wlp2s0
        iface wlp2s0 inet dhcp
          wpa-ssid <SSID>
          wpa-psk <PSK>
      - |
        auto enp1s0
        iface enp1s0 inet manual
      - |
        auto br0
        iface br0 inet static
            address 10.10.0.1
            netmask 255.255.0.0
            broadcast 10.10.255.255
            bridge_ports enp1s0
            bridge_hw enp1s0
    infra_nftables_nat_snat_rules:
      - oifname wlp2s0 masquerade
