- name: Configure mugman
  hosts: mugman
  become: true
  roles:
    - infra/cockpit
    - infra/dnsmasq
    - infra/interfaces
    - infra/libvirt_host
    - infra/nftables
    - infra/podman_host
    - infra/routing
  vars:
    infra_cockpit_extra_addons:
      - cockpit-machines
    infra_dnsmasq_default_configuration:
      - |
        interface = br0
        dhcp-range = br0,10.10.1.0,10.10.255.254,24h
    infra_interfaces_extra_interfaces:
      - |
        auto enp2s0
        iface enp2s0 inet dhcp
      - |
        auto enp3s0
        iface enp3s0 inet manual
      - |
        auto br0
        iface br0 inet static
            address 10.10.0.1
            netmask 255.255.0.0
            broadcast 10.10.255.255
            bridge_ports enp3s0
            bridge_hw enp3s0
    infra_nftables_nat_snat_rules:
      - oifname enp2s0 masquerade
