- name: Configure mugman
  hosts: mugman
  become: true
  roles:
    - infra/cockpit
    - infra/dnsmasq
    - infra/interfaces
    - infra/libvirt_host
    - infra/nftables
    - infra/podman_host
    - infra/routing
    - services/nfs4_server
  vars:
    infra_cockpit_extra_addons:
      - cockpit-machines
    infra_dnsmasq_default_configuration:
      - |
        no-resolv
        server = 1.1.1.1
        server = 1.0.0.1
      - |
        interface = br0
        dhcp-range = br0,10.10.1.0,10.10.255.254,24h
    infra_interfaces_extra_interfaces:
      - |
        auto enp2s0
        iface enp2s0 inet dhcp
      - |
        auto enp3s0
        iface enp3s0 inet manual
      - |
        auto br0
        iface br0 inet static
            address 10.10.0.1
            netmask 255.255.0.0
            broadcast 10.10.255.255
            bridge_ports enp3s0
            bridge_hw enp3s0
    infra_nftables_nat_snat_rules:
      - oifname enp2s0 masquerade
    services_nfs4_server_exports:
      - /srv/disk-by-uuid-43189a05-5113-4bdb-a31a-5d63a4010bd2            10.10.0.0/16(rw,all_squash,anonuid=65534,anongid=100,fsid=root)
      - /srv/disk-by-uuid-43189a05-5113-4bdb-a31a-5d63a4010bd2/documents  10.10.0.0/16(rw,async,all_squash,anonuid=65534,anongid=100)
      - /srv/disk-by-uuid-43189a05-5113-4bdb-a31a-5d63a4010bd2/games      10.10.0.0/16(rw,async,all_squash,anonuid=65534,anongid=100)
      - /srv/disk-by-uuid-43189a05-5113-4bdb-a31a-5d63a4010bd2/isos       10.10.0.0/16(rw,async,all_squash,anonuid=65534,anongid=100)
      - /srv/disk-by-uuid-43189a05-5113-4bdb-a31a-5d63a4010bd2/media      10.10.0.0/16(rw,async,all_squash,anonuid=65534,anongid=100)
